body {
  background-color: lightgrey;
 }
hr {
     border-color: grey;
     border-width: 5px;
     border-style: dotted none none none;
     width: 6%;
   }
h3{

  color: #114E60;
}

h2{
  font-style: normal;
  color: #845460;
}
